<div class="container" *ngIf="this.isCheckAuth">
    <img
    class="demo-bg"
    src="assets/bg.jpg"
    alt=""
  >
    <div class="login-container">
        <div class="login-header">
            &nbsp;
        </div>
        <div class="row txt-header">
            <h1>Welcome!</h1>
        </div>
        <div class="row">
            <h3>Login to continue</h3>
        </div>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="input-group">
                <input type="text" class="form-control" formControlName="username" maxlength="12"
                    placeholder="Username">
            </div>
            <div class="input-group">
                <input type="password" class="form-control" formControlName="password" maxlength="12"
                    placeholder="Password" [ngClass]="isError('password')">
                <div class="invalid-msg" *ngIf="this.errorMsg">
                    <span>{{this.errorMsg}}</span>
                </div>
            </div>
            <div class="row-btn">
                <button class="btn loading-btn" [ngClass]="this.loading ? 'loading' : ''" type="submit"><span *ngIf="!this.loading">Login</span></button>
            </div>
            <div class="row-btn">
                New user? <a routerLink="/register">Sign up</a>
            </div>
        </form>
    </div>
</div>