.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-box {
        display: flex;
        flex-direction: column;
        background: #fff;
        min-height: 700px;
        width: 400px;
        border-radius: 25px;
        border: 1px solid #39000054;

        .upload-btn {
            font-size: .875em;
            color: #5f6368;
            text-decoration: underline;
            cursor: pointer;
        }
        .upload-btn:hover {
            color: #040404;
        }

        .txt-header {
            margin-top: 25px;
            color: #ff3e3f;
        }

        .center-item {
            justify-content: center;
        }

        .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e3b4b4;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            border: 1px solid #ced4da;
            i {
                color: #f7f7f7;
                font-size: 50px;
            }

            .profile-img {
                width: 100px;
                border-radius: 50px;
                border: 1px solid #e5e5e5;
            }
        }

        div {
            text-align: center;
        }

        .register-form {
            padding: 25px;

            a{
                color: #ff3e3f;
            }
            
            a:hover{
                text-decoration: underline;
                cursor: pointer;
            }
            .input-group {
                min-height: 65px;
                input {
                    height: 45px;
                }
            }
            .row-btn {
                margin-top: 4%;
                button:hover {
                    background: #f32121;
                }
                
                
            }
            .invalid-feedback {
                height: 20px;
            }
        }
    }
}

.btn {
    background: #ff3e3f;
    border-radius: 25px;
    color:#f2f2f2;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
}

