.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-box {
        display: flex;
        flex-direction: column;
        background: #fff;
        min-height: 700px;
        align-items: center;

        .upload-btn {
            font-size: 0.875em;
            color: #5f6368;
            cursor: pointer;
        }
        .upload-btn:hover {
            color: #040404;
            text-decoration: underline;
        }

        .txt-header {
            margin-top: 25px;
            color: #ff3e3f;
        }
        .center-item {
            justify-content: center;
        }

        .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e3b4b4;
            width: 120px;
            height: 120px;
            border-radius: 70px;
            border: 1px solid #ced4da;
            i {
                color: #f7f7f7;
                font-size: 50px;
            }

            .profile-img {
                width: 120px;
                border-radius: 70px;
                border: 1px solid #ececec;
            }
        }

        div {
            text-align: center;
        }

        .register-form {
            padding: 25px;
            width: 60%;
            a {
                color: #ff3e3f;
            }

            a:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            .input-group {
                min-height: 65px;
                input {
                    background: #ff3e3f12;
                    height: 45px;
                }

                input:disabled {
                    background: #f0f0f0 !important;
                    color: gray;
                    cursor: not-allowed;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            }
            .invalid-feedback {
                height: 20px;
            }

            .row-btn-rect {
                margin-top: 0px;
                text-align: left;
                margin-bottom: 10px;
            }

            .btn-rect-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    display: flex;
                    align-items: center;
                }
                i {
                    margin-right: 2;
                }
            }

            .btn-rect {
                border-radius: 6px;
                color: #f2f2f2;
                font-weight: 500;
                position: relative;
                padding: 0px;

                
            }
        }
    }
}

.btn-round {
    border-radius: 25px;
    color: #f2f2f2;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
}

.md-btn {
    font-size: 1em;
    width: 120px;
    height: 35px;
}

.sm-btn {
    font-size: 0.8em;
    width: 104px;
    height: 30px;
}

.primary {
    background: #ff3e3f;
}

.primary:hover {
    background: #eb1616;
}

.secondary {
    background: #95959587;
}

.secondary:hover {
    background: #878787;
}

.space-left {
    margin-left: 15px;
}



.hide-item {
    visibility: hidden;
}

.input-style2 {
    width: 100%;
    .input-group-text {
        height: 45px;
        border-radius: 5px 0px 0px 5px;
        color: gray;
        background: #e3e3e3;
        min-width: 150px;
        width: 39%;
    }
    input {
        border-radius: 0px 5px 5px 0px !important;
        background: #fff !important;
        width: 59%;
    }
}

.form-check {
    text-align: left !important;
    margin-bottom: 15px;
    font-weight: 500;
    color: rgb(61, 61, 61);
    .form-check-input {
        cursor: pointer;
    }
}

.form-check-input:checked {
    background-color: #ff3e3f;
    border-color: #ff3e3f;
}